body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mynav{
  background-color: #00112C ;
}
.down-arrow{
  width: 20px;
  cursor: pointer;
}
.custemed-width {
  width: 850px;
}
.header-sec-bg {
  background-color: #00112C;
}
.hard-bottom-padding {
  padding-bottom: 99px;
  
}
.hide-width {
  width: 880px;
}
.hide-height {
  height: 98px;
}
.custem-scale {
  transform: scale(2.06) translate(-24.4%, 0);
}
.custem-searchBar-width {
  width: 600px;
}