body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mynav{
  background-color: #00112C ;
}
.down-arrow{
  width: 20px;
  cursor: pointer;
  transition: .3s;
}
.down-arrow.rotate{
  transform: rotate(180deg);
}
.drop .down-arrow.rotate{
  transform: rotate(180deg);
}
.my-dropdown{
  width: 576px;
  left: 50%;
  transform: translateX(-50%);
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid #fff;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
}

.card--container{
  max-width: 1089px;
  margin: 140px auto;
  gap: 61px;
}

.card--title{
  color: #00112c;
  font-size: 2rem;
  line-height: 1.2;
}

.card {
  width: 394px;
}
.card span{
  color: #00112C;
}

.card a{
  color: #1AAFD0;
}

.right-arrow {
  transform: rotatez(90deg);
}